.recentTransactionsGrid {
  padding: 5px;
  border: solid #666666;
  border-width: 0.5px;
}

.cardWrapper {
  position: relative;
}
.card {
  padding: 8px;
  border: solid 1px #ddd;
  border-radius: 2px;
}

.card::after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./images/workspace.svg);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cardHeading .title {
  float: left;
}

.cardHeading .more {
  float: right;
}
