.form {
  border: solid 1px #ddd;
  border-radius: 2px;
  margin: auto;
  max-width: 450px;
}
.formGrid {
  height: auto;
  min-height: 65vh;
  background: white;
  padding: 20px;
  position: relative;
}


.formGroup {
  padding: 10px;
}
.inputField {
  padding-top: 10px;
  padding-bottom: 10px;
}
.inputField > input,select {
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  border: 0px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
input.inputError {
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  border: 0px solid red;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  background: white;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
