.registerFeesPageGrid {
  height: 100vh;
  position: relative;
}
.registerFeesGrid {
  padding: 30px;
  /* background: red; */
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerGrid {
  max-height: 25vh;
  height: 15vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../assets/images/tiskLogo.png);
  z-index: -1;
}
.registerFeesMessage {
  text-align: center;
}
.registerFeesMessage > h2,
p {
  margin: 0;
}
.registerFeesMessage > p {
  font-size: 11px;
}

.signUpGroup {
  padding-top: 20px;
  margin: auto;
  max-width: 450px;
}
.signUp.signUpButton {
}
.signInText {
  margin: 0px;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.moreInfoText {
  margin: 0px;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}
