

.activatePage{
    background-color: #b32017;
    height: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
}

.topBar{
    text-align: left;
    padding: 25px;
    margin-bottom: 20px;
}

.arrowBack{
    margin-right: 20px;
}

.pageContent{

}

.activateCodeWrapper > input{
    width: 10%;
    color: white;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    font-size: 32px;
    border-bottom: solid white 2px;
    margin: 1%;
    text-align: center;
}
.next{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px;
    border: none;
    font-weight: bold;
}

.next:visited{
    color: white;
}

.next:hover,
.next:active{
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s ease-out;
}

.title{
    font-size:24px;
}
.descrptionContainer{
    padding-top: 15px;
    padding-bottom: 5px;
}