h2 {
  margin: 0px;
}
.contentGrid {
  padding: 15px;
}

.quickActions {
  /* height: 10%; */
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.quickActions > div {
  position: relative;
  height: 100%;
}

.quickActions button > div {
  display: table-cell;
  vertical-align: middle;
}

.quickActions button {
  padding: 10px;
  position: absolute;
  border: solid 1px #ddd;
  background: transparent;
  overflow: hidden;
}
.quickActions .quickActionIcon {
  width: 50%;
  height: 100%;
  padding-left: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.quickActionDeposit .quickActionIcon {
  background-image: url("./images/depositIcon.png");
}
.quickActionLoan .quickActionIcon {
  background-image: url("./images/loanIcon.png");
}

.quickActions .quickActionDeposit {
  left: 0px;
  top: 0px;
  bottom: 20px;
  min-height: 60px;
  max-width: 35vw;
  min-width: 120px;
}

.quickActions .quickActionLoan {
  right: 0px;
  top: 0px;
  bottom: 20px;
  min-height: 60px;
  min-width: 120px;
  max-width: 35vw;
}

.quickActions button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(59, 58, 58, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.quickActions button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.mfsRegistrationCallToAction {
  padding: 20px;
  text-align: justify;
}

.loadingContainer {
  height: 100vh;
  position: relative;
}

.loadingGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardsGrid {
  padding: 10px 0px;
}
.sharesCardContainer {
  max-width: 100%;
  border: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease,
    -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  z-index: "";
}

.sharesCard {
}

.sharesCardHeader{
  border-bottom: .5px #d3d3d3 solid;
}
.sharesCardBody{
  padding: 10px 0 ;
}
.sharesCardText {
  font-size: 30px;
  margin: 0px;
}

.cardButton {
  padding-top: 15px;
  padding-bottom: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .child {
    max-width: 500px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sharesCardText {
    font-size: 3vw;
  }
  .child {
    max-width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mfsRegistrationCallToAction {
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
