.bannerGrid {
  background: #b32017;
  height: 25vh;
  color: white;
  padding: 20px;

  display: block;
}
h1 {
  margin: 0px;
}

.profileGrid {
  height: 33%;
}
.profileContainer {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
  text-align: center;
}
.avatarGrid {
  width: 25%;
  float: left;
}
.profileNameGrid {
  width: 75%;
  float: left;
  padding-top: 10px;
}

.accountGrid {
  height: 66%;
  text-align: center;

  position: relative;
}
.accountInfoGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.accountBalanceText {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .accountBalanceText {
    font-size: 2.25em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .accountBalanceText {
    font-size: 3.157em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .accountBalanceText {
    font-size: 3.375em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .accountBalanceText {
    font-size: 3.375em;
  }
}
